Babel==2.9.1
beautifulsoup4==4.11.1
bkcharts==0.2
bokeh==2.4.3
GitPython==3.1.40
jupyterlab==3.4.4
matplotlib==3.5.2
numpy==1.21.6
pandas==1.4.4
pip==22.2.2
plotly==5.9.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.11.2
streamlit==1.26.0
